<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="/">NBA 懶人包</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle <%= (typeof top_plays != 'undefined' && top_plays) ? 'active' : '' %>" data-toggle="dropdown" role="button" aria-expanded="false">精彩好球&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/top_plays/top10">十大好球</a></li>
            <li><a href="/top_plays/play_week">每周十大</a></li>
            <li><a href="/top_plays/zap">每日好球</a></li>
            <li><a href="/top_plays/dunk">每日灌籃</a></li>
            <li><a href="/top_plays/steal">每日抄球</a></li>
            <li><a href="/top_plays/nightly">晚間精華</a></li>
            <li><a href="/top_plays/block">每日火鍋</a></li>
            <li><a href="/top_plays/assist">每日助攻</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">東區球隊&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">大西洋組 Atlantic</li>
            <li class="divider"></li>
            <li><a href="#">波士頓塞爾蒂克 Boston Celtics</a></li>
            <li><a href="#">布魯克林籃網 Brooklyn Nets</a></li>
            <li><a href="#">紐約尼克 New York Knicks</a></li>
            <li><a href="#">費城76人 Philadelphia 76ers</a></li>
            <li><a href="#">多倫多暴龍 Toronto Raptors</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">中央組 Central</li>
            <li class="divider"></li>
            <li><a href="#">芝加哥公牛 Chicago Bulls</a></li>
            <li><a href="#">克里夫蘭騎士 Cleveland Cavaliers</a></li>
            <li><a href="#">底特律活塞 Detroit Pistons</a></li>
            <li><a href="#">印第安那溜馬 Indiana Pacers</a></li>
            <li><a href="#">密爾瓦基公鹿 Milwaukee Bucks</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">東南組 Southeast</li>
            <li class="divider"></li>
            <li><a href="#">亞特蘭大老鷹 Atlanta Hawks</a></li>
            <li><a href="#">夏洛特黃蜂 Charlotte Bobcats</a></li>
            <li><a href="#">邁阿密熱火 Miami Heat</a></li>
            <li><a href="#">奧蘭多魔術 Orlando Magic</a></li>
            <li><a href="#">華盛頓巫師 Washington Wizards</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">西區球隊&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">西南組 Southwest</li>
            <li class="divider"></li>
            <li><a href="#">達拉斯小牛 Dallas Mavericks</a></li>
            <li><a href="#">休士頓火箭 Houston Rockets</a></li>
            <li><a href="#">曼斐斯灰熊 Memphis Grizzlies</a></li>
            <li><a href="#">紐奧良鵜鶘 New Orleans Pelicans</a></li>
            <li><a href="#">聖安東尼奧馬刺 San Antonio Spurs</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">西北組 Northwest</li>
            <li class="divider"></li>
            <li><a href="#">丹佛金塊 Denver Nuggets</a></li>
            <li><a href="#">明尼蘇達灰狼 Minnesota Timberwolves</a></li>
            <li><a href="#">奧克拉荷馬雷霆 Oklahoma City Thunder</a></li>
            <li><a href="#">波特蘭拓荒者 Portland Trail Blazers</a></li>
            <li><a href="#">猶他爵士 Utah Jazz</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">太平洋組 Pacific</li>
            <li class="divider"></li>
            <li><a href="#">金州勇士 Golden State Warriors</a></li>
            <li><a href="#">洛杉磯快艇 Los Angeles Clippers</a></li>
            <li><a href="#">洛杉磯湖人 Los Angeles Lakers</a></li>
            <li><a href="#">鳳凰城太陽 Phoenix Suns</a></li>
            <li><a href="#">沙加緬度國王 Sacramento Kings</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">關注球星&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/search?q=Jeremy%20Lin">湖人 Jeremy Lin</a></li>
            <li><a href="/search?q=Kobe%20Bryant">湖人 Kobe Bryant</a></li>
            <li><a href="/search?q=LeBron%20James">騎士 LeBron James</a></li>
            <li><a href="/search?q=Kyrie%20Irving">騎士 Kyrie Irving</a></li>
            <li><a href="/search?q=Blake%20Griffin">快艇 Blake Griffin</a></li>
            <li><a href="/search?q=CP3">快艇 Chris Paul</a></li>
            <li><a href="/search?q=Derrick%20Rose">公牛 Derrick Rose</a></li>
          </ul>
        </li>
      </ul>
      <form action="/search" method="GET" class="navbar-form navbar-right">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active">
            <div class="form-group">
              <input type="text" placeholder="Search Keyword" class="form-control" name="q" value="<%= (typeof q !== 'undefined') ? q : '' %>">
            </div>
          </li>
          <li><button class="btn btn-warning" type="button"><span class="fa fa-user" aria-hidden="true"></span> 線上人數 <span class="online_user_counts badge">0</span></button></li>
        </ul>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>
