<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="/"><img src="/images/logo.jpg" alt="NBA 懶人包"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle <%= (typeof channel != 'undefined' && channel) ? 'active' : '' %>" data-toggle="dropdown" role="button" aria-expanded="false">精彩好球&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">單日精華</li>
            <li class="divider"></li>
            <li><a href="/search?q=*recap*&sort=1"><span class="fa fa-futbol-o" aria-hidden="true"></span> 賽事精華</a></li>
            <li><a href="/channel/top10"><span class="fa fa-futbol-o" aria-hidden="true"></span> 十大好球</a></li>
            <li><a href="/channel/top_plays"><span class="fa fa-futbol-o" aria-hidden="true"></span> 精彩好球</a></li>
            <li><a href="/search?q=Shaqtin+Fool&sort=1"><span class="fa fa-futbol-o" aria-hidden="true"></span> 烏龍好球</a></li>
            <li><a href="/channel/zap"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日鬥士</a></li>
            <li><a href="/channel/dunk"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日灌籃</a></li>
            <li><a href="/channel/steal"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日抄球</a></li>
            <li><a href="/channel/nightly"><span class="fa fa-futbol-o" aria-hidden="true"></span> 晚間精華</a></li>
            <li><a href="/channel/block"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日火鍋</a></li>
            <li><a href="/channel/assist"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日助攻</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">單週精華</li>
            <li class="divider"></li>
            <li><a href="/channel/play_week"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周十大</a></li>
            <li><a href="/channel/dunk_week"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周灌籃</a></li>
            <li><a href="/channel/assist_week"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周抄球</a></li>
            <li><a href="/channel/defensive_week"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周防守</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">單季精華</li>
            <li class="divider"></li>
            <li><a href="/channel/plays_month"><span class="fa fa-futbol-o" aria-hidden="true"></span> 單月十大</a></li>
            <li><a href="/channel/play_season"><span class="fa fa-futbol-o" aria-hidden="true"></span> 單季十大</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">東區球隊&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">大西洋組 Atlantic</li>
            <li class="divider"></li>
            <li><a href="/search?q=boston+celtics+bos&sort=1">波士頓塞爾蒂克 Boston Celtics</a></li>
            <li><a href="/search?q=net+brooklyn+nets+bkn&sort=1">布魯克林籃網 Brooklyn Nets</a></li>
            <li><a href="/search?q=knicks+nyk&sort=1">紐約尼克 New York Knicks</a></li>
            <li><a href="/search?q=philadelphia+sixers+phi&sort=1">費城76人 Philadelphia 76ers</a></li>
            <li><a href="/search?q=toronto+raptors+tor&sort=1">多倫多暴龍 Toronto Raptors</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">中央組 Central</li>
            <li class="divider"></li>
            <li><a href="/search?q=chicago+bulls+chi&sort=1">芝加哥公牛 Chicago Bulls</a></li>
            <li><a href="/search?q=Cleveland+Cavaliers+cle&sort=1">克里夫蘭騎士 Cleveland Cavaliers</a></li>
            <li><a href="/search?q=Detroit+Pistons+det&sort=1">底特律活塞 Detroit Pistons</a></li>
            <li><a href="/search?q=Indiana+Pacers+ind&sort=1">印第安那溜馬 Indiana Pacers</a></li>
            <li><a href="/search?q=Milwaukee+Bucks+mil&sort=1">密爾瓦基公鹿 Milwaukee Bucks</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">東南組 Southeast</li>
            <li class="divider"></li>
            <li><a href="/search?q=Atlanta+Hawks+atl&sort=1">亞特蘭大老鷹 Atlanta Hawks</a></li>
            <li><a href="/search?q=Charlotte+Bobcats+atl&sort=1">夏洛特黃蜂 Charlotte Bobcats</a></li>
            <li><a href="/search?q=Miami+Heat+mia&sort=1">邁阿密熱火 Miami Heat</a></li>
            <li><a href="/search?q=Orlando+Magic+atl&sort=1">奧蘭多魔術 Orlando Magic</a></li>
            <li><a href="/search?q=Washington+Wizards+atl&sort=1">華盛頓巫師 Washington Wizards</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">西區球隊&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">西南組 Southwest</li>
            <li class="divider"></li>
            <li><a href="/search?q=Dallas+Mavericks+dal&sort=1">達拉斯小牛 Dallas Mavericks</a></li>
            <li><a href="/search?q=Houston+Rockets+hou&sort=1">休士頓火箭 Houston Rockets</a></li>
            <li><a href="/search?q=Memphis+Grizzlies+mem&sort=1">曼斐斯灰熊 Memphis Grizzlies</a></li>
            <li><a href="/search?q=Orleans+Pelicans+nop&sort=1">紐奧良鵜鶘 New Orleans Pelicans</a></li>
            <li><a href="/search?q=Antonio+Spurs+sas&sort=1">聖安東尼奧馬刺 San Antonio Spurs</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">西北組 Northwest</li>
            <li class="divider"></li>
            <li><a href="/search?q=Denver+Nuggets+den&sort=1">丹佛金塊 Denver Nuggets</a></li>
            <li><a href="/search?q=Minnesota+Timberwolves+min&sort=1">明尼蘇達灰狼 Minnesota Timberwolves</a></li>
            <li><a href="/search?q=Oklahoma+Thunder+okc&sort=1">奧克拉荷馬雷霆 Oklahoma City Thunder</a></li>
            <li><a href="/search?q=Trail+Blazers+por&sort=1">波特蘭拓荒者 Portland Trail Blazers</a></li>
            <li><a href="/search?q=Utah+Jazz+uta&sort=1">猶他爵士 Utah Jazz</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">太平洋組 Pacific</li>
            <li class="divider"></li>
            <li><a href="/search?q=Golden+Warriors+gsw&sort=1">金州勇士 Golden State Warriors</a></li>
            <li><a href="/search?q=Angeles+Clippers+lac&sort=1">洛杉磯快艇 Los Angeles Clippers</a></li>
            <li><a href="/search?q=Angeles+Lakers+lal&sort=1">洛杉磯湖人 Los Angeles Lakers</a></li>
            <li><a href="/search?q=Phoenix+Suns+phx&sort=1">鳳凰城太陽 Phoenix Suns</a></li>
            <li><a href="/search?q=Sacramento+Kings+sac&sort=1">沙加緬度國王 Sacramento Kings</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">關注球星&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/search?q=Michael+Jordan"><span class="fa fa-futbol-o" aria-hidden="true"></span> 公牛 Michael Jordan</a></li>
            <li><a href="/search?q=Derrick+Rose"><span class="fa fa-futbol-o" aria-hidden="true"></span> 公牛 Derrick Rose</a></li>
            <li><a href="/search?q=Carmelo+Anthony"><span class="fa fa-futbol-o" aria-hidden="true"></span> 尼克 Carmelo Anthony</a></li>
            <li><a href="/search?q=Jeremy+Lin"><span class="fa fa-futbol-o" aria-hidden="true"></span> 湖人 Jeremy Lin</a></li>
            <li><a href="/search?q=Kobe+Bryant"><span class="fa fa-futbol-o" aria-hidden="true"></span> 湖人 Kobe Bryant</a></li>
            <li><a href="/search?q=LeBron+James"><span class="fa fa-futbol-o" aria-hidden="true"></span> 騎士 LeBron James</a></li>
            <li><a href="/search?q=Kyrie+Irving"><span class="fa fa-futbol-o" aria-hidden="true"></span> 騎士 Kyrie Irving</a></li>
            <li><a href="/search?q=Blake+Griffin"><span class="fa fa-futbol-o" aria-hidden="true"></span> 快艇 Blake Griffin</a></li>
            <li><a href="/search?q=CP3+Chris+Paul"><span class="fa fa-futbol-o" aria-hidden="true"></span> 快艇 Chris Paul</a></li>
            <li><a href="/search?q=Stephen+Curry"><span class="fa fa-futbol-o" aria-hidden="true"></span> 勇士 Stephen Curry</a></li>
            <li><a href="/search?q=Russell+Westbrook"><span class="fa fa-futbol-o" aria-hidden="true"></span> 雷霆 Russell Westbrook</a></li>
            <li><a href="/search?q=Kevin+Durant"><span class="fa fa-futbol-o" aria-hidden="true"></span> 雷霆 Kevin Durant</a></li>
            <li><a href="/search?q=James+Harden"><span class="fa fa-futbol-o" aria-hidden="true"></span> 火箭 James Harden</a></li>
            <li><a href="/search?q=Dwight+Howard"><span class="fa fa-futbol-o" aria-hidden="true"></span> 火箭 Dwight Howard</a></li>
            <li><a href="/search?q=Rajon+Rondo"><span class="fa fa-futbol-o" aria-hidden="true"></span> 小牛 Rajon Rondo</a></li>
            <li><a href="/search?q=Dirk+Nowitzki"><span class="fa fa-futbol-o" aria-hidden="true"></span> 小牛 Dirk Nowitzki</a></li>
            <li><a href="/search?q=Dwyane+Wade"><span class="fa fa-futbol-o" aria-hidden="true"></span> 熱火 Dwyane Wade</a></li>
            <li><a href="/search?q=Chris+Bosh"><span class="fa fa-futbol-o" aria-hidden="true"></span> 熱火 Chris Bosh</a></li>
            <li><a href="/search?q=Anthony+Davis"><span class="fa fa-futbol-o" aria-hidden="true"></span> 鵜鶘 Anthony Davis</a></li>
          </ul>
        </li>
      </ul>
      <form action="/search" method="GET" class="navbar-form navbar-right">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active">
            <div class="form-group">
              <input type="text" placeholder="Search Keyword" class="form-control" name="q" value="<%= (typeof q !== 'undefined') ? q : '' %>">
            </div>
          </li>
          <li><button class="btn btn-warning" type="button"><span class="fa fa-user" aria-hidden="true"></span> 線上人數 <span class="online_user_counts badge">0</span></button></li>
        </ul>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>
