<div class="alert alert-danger" role="alert">伺服器錯誤，請回到首頁或重新搜尋</div>
<div class="jumbotron">
  <h1>歡迎來到 NBA 影片懶人包</h1>
  <p>這裡提供 NBA 官方影片，有懶人包下載，大螢幕，及線上看。</p>
  <p>
    <a href="/channel/top_plays" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日精彩好球</a>
    <a href="/channel/top10" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日十大好球</a>
    <a href="/channel/play_week" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周十大好球</a>
    <a href="/search?q=Shaqtin+A+Fool" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周烏龍好球</a>
  </p>
  <p class="google-adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsive ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8029787021384054"
         data-ad-slot="9639025813"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </p>
</div>
