<div class="jumbotron">
  <h1>歡迎來到 NBA 影片懶人包</h1>
  <p>這裡提供 NBA 官方影片，有懶人包下載，大螢幕，及線上看。</p>
</div>
<div class="page-header">
  <h2>最新影片</h2>
</div>

<div class="row" id="video_list">
  <%- partial('../partials/video.ejs') %>
</div>
