<div class="page-header">
  <h2>2015 All Star 精彩好球</h2>
</div>

<div class="row">
  <p class="fantasypk"><a href="http://www.fantasypk.com/" target="_blank"><img src="images/ad/fantasypk.gif" /></a></p>
  <%- partial('../partials/video.ejs', {videos: allstar_videos}) %>
</div>

<div class="page-header">
  <h2>最新精彩賽事</h2>
</div>

<div class="row">
  <p class="google-adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsive ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8029787021384054"
         data-ad-slot="9639025813"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </p>
  <%- partial('../partials/video.ejs', {videos: recap_videos}) %>
</div>

<div class="page-header">
  <h2>最新精彩好球</h2>
</div>

<div class="row">
  <p class="google-adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- video-film responsive ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8029787021384054"
         data-ad-slot="9998952613"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </p>
  <%- partial('../partials/video.ejs', {videos: top_videos}) %>
</div>

<div class="page-header">
  <h2>最新影音</h2>
</div>

<div class="row">
  <%- partial('../partials/video.ejs', {videos: latest_videos}) %>
</div>
