<div class="jumbotron">
  <h1>歡迎來到 NBA 影片懶人包</h1>
  <p>這裡提供 NBA 官方影片，有懶人包下載，大螢幕，及線上看。</p>
  <p>
    <a href="/channel/top_plays" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日精彩好球</a>
    <a href="/channel/top10" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每日十大好球</a>
    <a href="/channel/play_week" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周十大好球</a>
    <a href="/search?q=Shaqtin+A+Fool" class="btn btn-primary btn-lg" role="button"><span class="fa fa-futbol-o" aria-hidden="true"></span> 每周烏龍好球</a>
  </p>
  <p class="google-adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- video film 廣告-->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-8029787021384054"
         data-ad-slot="1755832212"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </p>
</div>

<div class="page-header">
  <h2>最新精彩好球</h2>
</div>

<div class="row" id="video_list">
  <%- partial('../partials/video.ejs', {videos: top_videos}) %>
</div>

<div class="page-header">
  <h2>最新精彩賽事</h2>
</div>

<div class="row" id="video_list">
  <%- partial('../partials/video.ejs', {videos: recap_videos}) %>
</div>

<div class="page-header">
  <h2>最新影音</h2>
</div>

<div class="row" id="video_list">
  <%- partial('../partials/video.ejs', {videos: latest_videos}) %>
</div>
