<div class="jumbotron">
  <h1>歡迎來到 NBA 影片懶人包</h1>
  <p>這裡提供 NBA 官方影片，有懶人包下載，大螢幕，及線上看。</p>
  <p><a href="/top_plays/top10" class="btn btn-primary btn-lg" href="#" role="button">每日十大好球</a>&nbsp;<a class="btn btn-primary btn-lg" href="#" role="button">每周十大好球</a></p>
</div>
<div class="page-header">
  <h2>最新影片</h2>
</div>

<div class="row" id="video_list">
  <%- partial('../partials/video.ejs') %>
</div>
