<div class="page-header">
  <h2><%= title %></h2>
</div>
<div class="row" id="video_list">
  <%- partial('../partials/video.ejs') %>
  <p data-module="loading" data-limit="30" data-page="2"></p>
</div>
